/* Estilos para o balão de mensagem */
.message-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.message-sent .message-content {
  background-color: #4c8bf5;
  color: white;
  border-radius: 12px;
  padding: 0.75rem;
  max-width: 70%;
  position: relative;
  overflow: hidden; /* Garantir que a imagem/vídeo não ultrapasse o balão */
}

.message-received .message-content {
  background-color: #373b40;
  color: #e2e8f0;
  border-radius: 12px;
  padding: 0.75rem;
  max-width: 70%;
  position: relative;
  overflow: hidden; /* Garantir que a imagem/vídeo não ultrapasse o balão */
}

/* Estilos da imagem e do vídeo dentro do balão de mensagem */
.message-content img,
.message-content video {
  max-width: 100%;
  max-height: 200px; /* Ajuste conforme necessário */
  border-radius: 8px;
  margin-top: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Mudar o cursor para indicar que é clicável */
  transition: transform 0.3s ease; /* Transição suave para o zoom */
}

/* Efeito de zoom e fundo preto ao clicar na imagem/vídeo */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com opacidade */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garantir que o modal fique acima de outros elementos */
  visibility: hidden; /* Ocultar por padrão */
}

.modal img,
.modal video {
  max-width: 90%;
  max-height: 80%;
  border-radius: 8px;
}

.modal.show {
  visibility: visible; /* Mostrar quando ativado */
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Transição de zoom */
.message-content img.zoomed,
.message-content video.zoomed {
  transform: scale(1.2); /* Ajuste o valor para o nível de zoom desejado */
}

/* Estilos adicionais para a visualização */
.message-file {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Mudar o cursor para indicar que é clicável */
}

/* Ajuste a altura máxima para vídeos */
.message-video {
  max-height: 400px; /* Ajuste conforme necessário */
}
